.herosection{
    width: Fill (1,440px)px;
height:599px;
padding: 96px 144px 96px 144px;
gap: 104px;
opacity: 0px;
display: flex;
justify-content:space-evenly;
background: #F5F7FA;

/* background-color: blue; */

}
.frame11{

width: Fill (657px)px;
height: Hug (276px)px;
gap: 32px;
opacity: 0px;

}
.frame11>h1{
    /* //styleName: Heading/Headline 1; */
font-family: Inter;
font-size: 64px;
font-weight: 600;
line-height: 76px;
text-align: left;
color: #000000;


}
.frame11 span{
font-family: Inter;
font-size: 64px;
font-weight: 600;
line-height: 76px;
text-align: left;
color:  #4CAF4F;

}
.frame11 p{
    /* //styleName: Body/Regular/Body 2; */
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #838080;
margin:20px 0px;


}
button{
    width: Hug (128px)px;
height: Hug (52px)px;
padding: 14px 32px 14px 32px;
gap: 10px;
border-radius: 4px;
border-color: #4CAF4F;
opacity: 0px;

}
.frame11 button {
    width: Hug (128px)px;
height: Hug (52px)px;
padding: 14px 32px 14px 32px;
gap: 10px;
border-radius: 4px;
opacity: 0px;
background-color: #4CAF4F;
color: aliceblue;


}
.dot{
    width: Hug (46px)px;
height: Hug (10px)px;
position:absolute;
margin-top: 100px;
top: 557px;
left: 730px;
gap: 8px;
opacity: 0px;

}