.bodypage {
  width: Hug (1, 440px) px;
  height: Hug (2, 242.4px) px;
  top: 1411px;
  display: flex;
  flex-direction: column;
  left: 1px;
  gap: 48px;
  opacity: 0px;
}
.Unlock {
  width: Hug (1, 440px) px;
  height: Hug (433px) px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  justify-content: center;
  gap: 32px;
}
p{

  color: #717171;
  
  }

.Unlock img {
  width: 442px;
  height: 433px;
  padding: 52px 0.47px 52.01px 0px;
  gap: 0px;
  opacity: 0px;
}

.Unlock > div {
  width: Fixed (661px) px;
  height: Hug (268px) px;
  margin-top: 70px;
  gap: 32px;
  display: flex;
  flex-direction: column;
  opacity: 0px;
}
.Unlock h1 {
  width: 601px;
  height: 88px;
  gap: 0px;
  opacity: 0px;

  /* //styleName: Heading/Headline 2; */
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}
.Unlock p {
  width: 601px;
  height: 80px;
  gap: 0px;
  opacity: 0px;
  /* //styleName: Body/Regular/Body 3; */
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.Unlock button {
  width: 151px;
  height: Hug (52px) px;
  padding: 14px 32px 14px 32px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  background: #4caf4f;
  color: aliceblue;
}

.Achivements {
  width: Fixed (1, 440px) px;
  height: Hug (288px) px;
  padding: 64px 144px 64px 144px;
  gap: 0px;
  display: flex;
  justify-content:space-around;
  opacity: 0px;
  background: #F5F7FA;

}

.Achivements1 {
  width: Fixed (540px) px;
  height: Hug (120px) px;
  gap: 8px;
  opacity: 0px;
}

.Achivements1 h1 {
  width: 408px;
  height: 88px;
  gap: 0px;
  opacity: 0px;

  /* //styleName: Heading/Headline 2; */
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}
.Achivements1 span {
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
}

.Achivements1 p {
  /* //styleName: Body/Regular/Body 3; */
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.Achivements2 {
  width: Hug (540px) px;
  height: Hug (160px) px;
  gap: 40px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
}

.Achivements2 > div {
  width: Hug (540px) px;
  height: Hug (60px) px;
  gap: 30px 30px;
  display: grid;
  grid-template-columns: repeat(2, 4fr);

  opacity: 0px;
}

.Achivements2 > div > div {
  width: Hug (255px) px;
  height: Hug (60px) px;
  gap: 16px;
  opacity: 0px;
  display: flex;
  /* border: 1px solid red; */
}

.Achivements2 h1 {
  width: 191px;
  height: 36px;
  gap: 0px;
  opacity: 0px;
  /* //styleName: Heading/Headline 3; */
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #4d4d4d;
}
.Achivements2 p {
  width: 191px;
  height: 24px;
  gap: 0px;
  opacity: 0px;
  /* //styleName: Body/Regular/Body 2; */
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.Calenders {
  width: Hug (1, 440px) px;
  height: Hug (433.4px) px;
  gap: 10px;
  display: flex;
  justify-content: center;
  opacity: 0px;
}

.Calenders1 {
  width: 441.53px;
  height: 433.4px;
  gap: 0px;
  opacity: 0px;
}

.Calenders1 > img {
  width: 441.53px;
  height: 433.4px;
  gap: 0px;
  opacity: 0px;
}
.Calenders2 {
  width: Fixed (661px) px;
  height: Hug (308px) px;
  gap: 32px;
  opacity: 0px;
  /* background-color: #4CAF4F; */
}

.Calenders2 > h1 {
  width: 601px;
  height: 88px;
  gap: 0px;
  opacity: 0px;
  /* //styleName: Heading/Headline 2; */
  font-family: Inter;
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;

  color: #4d4d4d;
}

.Calenders2 > p {
  width: 601px;
  height: 120px;
  gap: 0px;
  opacity: 0px;
  /* //styleName: Body/Regular/Body 3; */
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}

.Calenders2 > button {
  width: Hug (151px) px;
  height: Hug (52px) px;
  padding: 14px 32px 14px 32px;
  gap: 10px;
  border-radius: 4px;
  opacity: 0px;
  background: #4caf4f;
  color: aliceblue;
  margin-top: 20px;
}
.Custmore {
  width: Fixed (1, 440px) px;
  height: Hug (390px) px;
  padding: 32px 144px 32px 144px;
  display: flex;
  justify-content: space-evenly;
  gap: 78px;
  opacity: 0px;
  background: #f5f7fa;
}
.Custmore1 {
  width: 326px;
  height: 326px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}

.Custmore2 {
  width: Fill (748px) px;
  height: Hug (324px) px;
  gap: 32px;
  opacity: 0px;
}

.content {
  width: Fill (748px) px;
  height: Hug (244px) px;
  gap: 16px;
  opacity: 0px;
}

.content > p {
  width: 748px;
  /* height: 168px; */
  gap: 0px;
    margin-top: 10px;
  opacity: 0px;
  /* //styleName: Body/Medium/Body 2; */
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.content > h2 {
  width: 748px;
  height: 28px;
  margin-top: 10px;
  gap: 0px;
  opacity: 0px;
  /* //styleName: Heading/Headline 4;? */
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  color: #4caf4f;
}

.Frame {
  width: Fill (748px) px;
  height: Hug (48px) px;
  gap: 32px;
  display: flex;
  opacity: 0px;
  margin-top: 80px;
}
.frame1 {
  width: Hug (493px) px;
  height: Hug (48px) px;
  gap: 41px;
  opacity: 0px;
  display: flex;
  flex-direction:row;


}
.frame1>img{

    width: 40px;
height: 40px;
gap: 10px;
opacity: 0px;

}
.frame2 {
  width: Fill (223px) px;
  height: Hug (44px) px;
  padding: 8px 0px 0px 0px;
  gap: 8px;
 
  opacity: 0px;
}

.frame2>h2{
    width: 188px;
height: 28px;
gap: 0px;
opacity: 0px;
/* //styleName: Heading/Headline 4; */
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 28px;
text-align: left;
color: #4caf4f;

}

.Commmunity{
    width: Hug (1,440px)px;
    height: Hug (506px)px;
    gap: 16px;
    opacity: 0px;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    

}

.commun1{
    width: Fixed (1,110px)px;
height: Hug (124px)px;
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;
/* gap: 8px; */
opacity: 0px;

}
.commun1>h1{
    width: 1110px;
height: 44px;
gap: 0px;
opacity: 0px;
/* //styleName: Heading/Headline 2; */
font-family: Inter;
font-size: 36px;
font-weight: 600;
line-height: 44px;
text-align: center;
color: #4D4D4D;
;

}
.commun1>p{
    width: 628px;
height: 72px;
gap: 0px;
opacity: 0px;
/* //styleName: Body/Regular/Body 2; */
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: center;

}


.commun2{
    width: Fixed (1,440px)px;
    height: Hug (366px)px;
    padding: 0px 144px 0px 144px;
    display: flex;
    gap: 10px;
    justify: space-between;
    opacity: 0px;
    

}

.commun2>div{
    width: Hug (368px)px;
    height: Hug (366px)px;
    gap: 0px;
    opacity: 0px;
    
}
.commun2>img{
    width: 368px;
height: 286px;
/* gap: 10px; */
border-radius: 8px 0px 0px 0px;
opacity: 0px;

}



.con{

    width:317px;
height: 176px;
padding: 16px 0px 0px 0px;
gap: 16px;
border-radius: 8px;
opacity: 0px;
background: #F5F7FA;
box-shadow: 0px 8px 16px 0px #ABBED166;

position: relative;
bottom: 150px;
left: 30px;

}
.con>p{
    width: 285px;
height: 84px;
gap: 0px;
opacity: 0px;

/* //styleName: Heading/Headline 4; */
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 28px;
text-align: center;

}

.con>h4{
    width: 99px;
height: 28px;
gap: 0px;
opacity: 0px;
/* //styleName: Heading/Headline 4; */
font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 28px;
text-align: left;
color: #4CAF4F;
margin-left: 100px;


}