footer{
    width: Hug (1,440px)px;
height: Hug (628px)px;
top: 3748px;

gap: 0px;
opacity: 0px;

}

.footer1{

    width: Fixed (1,440px)px;
height: Hug (300px)px;
padding: 32px 0px 32px 0px;
gap: 32px;
opacity: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: #F5F7FA;

}
.footer1>h1{
    width: 887px;
height: 152px;
gap: 0px;
opacity: 0px;
/* //styleName: Heading/Headline 1; */
font-family: Inter;
font-size: 64px;
font-weight: 600;
line-height: 76px;
text-align: center;
/* background: #263238; */

}

.footer1>button{
    width: Hug (178px)px;
    height: Hug (52px)px;
    padding: 14px 32px 14px 32px;
    gap: 8px;
    border-radius: 4px;
    opacity: 0px;
    
/* //styleName: Body/Medium/Body 2; */
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: center;
background: #4CAF4F;
color: #FFFFFF;
;

}

.footer2{
    width: Hug (1,440px)px;
height: Hug (328px)px;
padding: 64px 165px 64px 165px;
display: flex;
gap: 125px;
opacity: 0px;
background: #263238;

}

.foo1{
    width: Hug (350px)px;
height: Hug (189.67px)px;
display: flex;
flex-direction: column;
justify-content: flex-start;
gap: 40px;
opacity: 0px;

}


.foo2{
    width: Hug (635px)px;
height: Hug (200px)px;
gap: 30px;
opacity: 0px;

}

.foo11{
    color: #FFFFFF;
    /* display: flex; */
    width: Hug (191px)px;
height: Hug (29.67px)px;
gap: 9.89px;
opacity: 0px;

}

.foo12{
    width: Hug (350px)px;
    height: Hug (48px)px;
    gap: 8px;
    opacity: 0px;
    color: #FFFFFF;
    
}
.foo12{
    width: 350px;
height: 20px;
gap: 0px;
opacity: 0px;
/* //styleName: Body/Regular/Body 3; */
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
color:  #F5F7FA;


}

.foo12>p{
    width: 350px;
height: 20px;
gap: 0px;
opacity: 0px;
/* margin-top: 10px; */

/* //styleName: Body/Regular/Body 3; */
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;

}


.foo13{
    width: Hug (176px)px;
height: Hug (32px)px;
gap: 16px;
display: flex;
flex-direction: row;
opacity: 0px;

}

.foo2{
    width: Hug (635px)px;
height: Hug (200px)px;
display: flex;
gap: 30px;
opacity: 0px;

}
.foo2 h3{
    width: 160px;
height: 28px;
gap: 0px;
opacity: 0px;
/* //styleName: Heading/Headline 4; */

font-family: Inter;
font-size: 20px;
font-weight: 600;
line-height: 28px;
text-align: left;
color: #FFFFFF;

}

.foo2 p{
    width: 160px;
height: 20px;
gap: 0px;
opacity: 0px;
/* //styleName: Body/Regular/Body 3; */
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;
color: #FFFFFF;

}

.foo21,.foo22,.foo23{
    width: Hug (160px)px;
height: Hug (200px)px;
display: flex;
flex-direction: column;
gap: 24px;
color: #FFFFFF;
opacity: 0px;

}

.foo8{
    width: Hug (160px)px;
    height: Hug (148px)px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    opacity: 0px;
    
}

.foo23 input{
    width: 255px;
    height: 40px;
    top: 52px;
    gap: 0px;
    border-radius: 8px ;
    opacity: 0.2px;
     border: 0px;
    background: #434343;
    

}
.foo23 img{
    width: 18px;
height: 18px;
position:relative;
bottom: -2px;
right: 30px;
padding: 0.75px;
gap: 0px;
opacity: 0px;



}