/* styles.css */
/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } */
  
  .container {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-control {
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-control:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #3e8e41;
  }
  
  .alert {
    padding: 10px;
    background-color: #f2dede;
    border: 1px solid #f2dede;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .alert-danger {
    background-color: #f2dede;
    border-color: #f2dede;
  }
  
  .alert-danger .alert-link {
    color: #8a6d3b;
  }